html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}

a.btn-ghost {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  border: 3px solid #000;
  color: #000;
  font-size: 1.125rem;
  padding: .4em;
}

a.btn-subtle {
  background-color: #ccc;
  color: #fff;
  padding: .5em;
}

a.btn-warning {
  background-color: #f33;
  color: #fff;
  padding: .5em;
}

a.btn-small {
  background-color: #333;
  color: #fff;
  padding: .6em;
}

a.btn-big {
  background-color: #333;
  color: #fff;
  padding: .4em;
}

.btn {
  display: inline-block;
  background-color: #333;
  text-decoration: none;
  padding: .5em;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  font-size: 1.125rem;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  font-size: 1.125rem;
}

.btn-ghost:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warning {
  border-width: 3px;
  font-size: 1.125rem;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  border-width: 3px;
  font-size: .875rem;
}

.btn-small:hover {
  background-color: #000;
}

.btn-small-subtle {
  display: inline-block;
  background-color: #ccc;
  text-decoration: none;
  padding: .6em;
  border-radius: 8px;
  border: 3px;
  color: #fff;
  font-size: .875rem;
}

.btn-small-subtle:hover {
  background-color: #666;
}

.btn-small-ghost {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  padding: .6em;
  border-radius: 8px;
  border: 3px solid #000;
  color: #000;
  font-size: .875rem;
}

.btn-small-ghost:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-small-warning {
  display: inline-block;
  background-color: #f33;
  text-decoration: none;
  padding: .7em;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
  font-size: .875rem;
}

.btn-small-warning:hover {
  background-color: #933;
}

.btn-big {
  border-width: 3px;
  font-size: 1.5rem;
}

.btn-big:hover {
  background-color: #000;
}

.btn-big-subtle {
  display: inline-block;
  background-color: #ccc;
  text-decoration: none;
  padding: .4em;
  border-radius: 8px;
  border: 3px;
  color: #fff;
  font-size: 1.5rem;
}

.btn-big-subtle:hover {
  background-color: #666;
}

.btn-big-ghost {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  padding: .4em;
  border-radius: 8px;
  border: 3px solid #000;
  color: #000;
  font-size: 1.5rem;
}

.btn-big-ghost:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-big-warning {
  display: inline-block;
  background-color: #f33;
  text-decoration: none;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
  font-size: 1.5rem;
}

.btn-big-warning:hover {
  background-color: #933;
}
